  .social {
    width: 64px;
  }


  body {
      background: url('../images/Portfolio_About.jpg');
  }

  .footer {
      background-color: orange;
      position: absolute;
      left: 0;
      bottom: 0;
      height: 100px;
      width: 100%;
      overflow:hidden;
  }

  .panel {
    margin-top: 123px;
  }

  .card-img-top {
    width: 320px;
    float: left;
  }

  .main-section {
    float: left;
    width: 100%;
    padding: 30px;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #ddd;
  }

  h3 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 700;
    color: #4aaaa5;
    border-bottom: 20px;
  }

  img {
    width: 240px;
  }

  .clsGrid {
      list-style-type: none;
      margin: 0;
      padding: 0;
      background-color: #fff;
      height: 80px;
  }

  .clsGrid li {
      float: left;
      display: block;
      text-align: center;
      padding: 5px;
  }

  section {
    width: 650px;
    float: left;
    background-color: #ffffff;
    margin-right: 140px auto;
  }

  .clsBand {
    position: relative;
    width: 240px;
    height: 40px;
    bottom: 50px;
    color: #ffffff;
    background: green;
    opacity: 0.8;
    text-align:center;
    font-weight:normal;
   }

  body {
    margin: 0 auto -155px;
  }
  footer {
    background-color: #28364f;
    height: -155px;
    color:#FFFFFF;
    clear: both;
  }
